body {
    margin: 0;
    background: #EEEEEE;
}

#top-bar {
    width: 100%;
    height: 10%;
    margin: 0;
    overflow: hidden;
    font-family: 'Concert One';
    color: #000000;
}

#icon-top-bar {
    float: left;
    height: 100%;
}

#icon-img-top-bar {
    margin-top: 0;
    width: 100%;
    height: 100%;
}

#icon-rolled-img-top-bar {
    margin-top: -100%;
    width: 100%;
    height: 100%;
}

#top-bar-title {
    float: left;
    height: 100%;
    display: flex;
    padding-left: 25px;
    margin: auto;
    font-size: 3em;
}

#top-rolled-bar-title {
    float: left;
    height: 100%;
    display: flex;
    padding-left: 25px;
    margin: -100% 0 0 0;
    font-size: 3em;
}

#top-bar-title p, #top-rolled-bar-title p {
    margin: auto;
    text-align: center;
}

#content-div {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    text-align: center;
}

#instruction-back-div {
    margin-top: 10pt;
    font-size: 0.8em;
    color: #555555;
}

/* Resume Rules */

.card-box {
    margin: 15pt 25pt;
    background: white;
}

.card-title {
    margin-bottom: 10pt;
    padding: 5pt 0 5pt 50pt;
    font-size: 1.5em;
    text-align: left;
}

.card-item {
    display: flex;
    width: 100%;
    padding: 10pt;
    text-align: left;
    height: auto;
}

.card-item-icon {
    float: left;
    width: 15%;
}

.card-item-icon .icon {
    width: 100%;
}

.card-item-content {
    float: left;
    width: 85%;
    padding: 0 25pt;
    text-align: left;
}

.card-content-title {
    font-size: 1.1em;
    font-weight: bold;
}