h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 5pt;
}

h1 {
    font-size: 1.5em;
    margin-top: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.1em;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}

li {
    margin-bottom: 10pt;
}

#main-div.img {
    margin-top: 1em;
}

blockquote {
    font-size: 0.9em;
    font-style: italic;
    color: #222222;
    background: #DDDDDD;
    padding: 15pt;
    margin: 0;
    margin-bottom: 1.5em;
}

a:link, a:visited, a:hover, a:active {
    color: #000000;
}

hr {
    margin-top: 2em;
}

.button {
    font-family: 'Ubuntu', sans-serif;
    background: #DDDDDD;
    height: 50pt;
    display: flex;
    margin: 0 0 5pt 0;
}

.button:hover {
    background: #CCCCCC;
}

.button:active {
    background: #EEEEEE;
}

.button:disabled {
    background: #CCCCCC;
}

.button p {
    /* font-family: 'Geometr415 Md BT', sans-serif; */
    font-size: 1.25em;
    color: #000000;
    padding-left: 15pt;
    margin: auto 0;
}

.left {
    float: left;
}

.bold {
    font-weight: bold;
}

div.title {
    display: flex;
}

p.title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.75em;
    font-weight: bold;
}

p.subtitle {
    font-size: 0.8em;
    color: #999999;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 1.5em;
}

p.docquote {
    font-style: italic;
    line-height: 1.5em;
    padding-left: 15pt;
    border-left: 2px solid #222222;
}

img.icon {
    width: 50pt;
    height: 50pt;
}

img.illustration {
    width: 100%;
}