<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>

  <link href="https://www.hnrqndrd.com/style/blog.css" rel="stylesheet">
  <link href="https://www.hnrqndrd.com/style/pages.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Concert+One|Noto+Sans+HK&display=swap" rel="stylesheet">
  <link href="https://www.hnrqndrd.com/style/markdown.css" rel="stylesheet">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://www.hnrqndrd.com/scripts/pages.js"></script>
</head>


<body>
  <div id="top-bar">
    <div id="icon-top-bar" class="nav-button">
      <img id="icon-img-top-bar" class="icon" src="https://www.hnrqndrd.com/icons/symbols/hnrqndrd.png" />
    </div>
    <div id="top-bar-title">
      <p>{{ page.title }}</p>
    </div>
  </div>
  <div id="page-content">
    {{ content }}
  </div>
</body>

</html>