<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ page.title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' media='screen' href='../style/screen.css'>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src='../scripts/screen.js'></script>
</head>

<body>
    <div id="screen">
        <div id="content">
            {{ content }}
        </div>
    </div>

    <div id="div-transition">
        <div id="top-div"></div>
    </div>
</body>

</html>